# Space X Data Collection

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/MichaelAlberts/opt/anaconda3/lib/python3.9/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/MichaelAlberts/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.3)

In [3]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in /Users/MichaelAlberts/opt/anaconda3/lib/python3.9/site-packages (2.1.1)

In [4]:
#Import relavent libraries
import requests
import json
import pandas as pd
from sqlalchemy import create_engine, text

## API Calls

## Pull From Payloads

In [5]:
#Pull from the payloads portion of the API
url = "https://api.spacexdata.com/v3/payloads"

In [6]:
#Create the headers
headers = {
  'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'
  }

In [7]:
#Store the API response
response = requests.get(url, headers=headers)

In [8]:
#Confirm response recieved data
if response.status_code == 200:
    print('Successful')
else:
    print('Unsuccessful')

Successful

##### Json

In [9]:
#Create data and use json to transform the data
payload_data = json.loads(response.text)

In [10]:
#Connect to Amason AWS database
engine = create_engine('mysql+mysqldb://USER:PASSWORD@DATABASE

##### Pandas Dataframe

In [11]:
#Convert the data into a dataframe
payload_df = pd.DataFrame(payload_data)

In [12]:
#Specify the desired columns
payload_df = payload_df[['payload_id','reused','customers','nationality', 'manufacturer', 'payload_type', 'payload_mass_lbs', 'orbit', 'mass_returned_lbs', 'flight_time_sec']]

In [13]:
#Format the list value into a string
payload_df['customers'] = payload_df['customers'].apply(lambda x: ', '.join(word for word in x))

In [14]:
#Check what the dataframe is returning
payload_df

,payload_id,reused,customers,nationality,manufacturer,payload_type,payload_mass_lbs,orbit,mass_returned_lbs,flight_time_sec
0,FalconSAT-2,False,DARPA,United States,SSTL,Satellite,43.000,LEO,NaN,NaN
1,DemoSAT,False,DARPA,United States,SpaceX,Satellite,NaN,LEO,NaN,NaN
2,Trailblazer,False,NASA,United States,Space Dev,Satellite,NaN,LEO,NaN,NaN
3,PRESat,False,ORS,United States,None,Satellite,NaN,LEO,NaN,NaN
4,RatSat,False,SpaceX,United States,SpaceX,Satellite,363.000,LEO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
131,Crew-1,False,NASA (CCtCap),United States,SpaceX,Crew Dragon,NaN,ISS,NaN,NaN
132,Sentinel-6 Michael Freilich,False,NASA,United States,EUMETSAT,Satellite,3174.657,PO,NaN,NaN
133,Starlink-15,False,SpaceX,United States,SpaceX,Satellite,33951.200,VLEO,NaN,NaN
134,CRS-21,True,NASA (CRS),United States,SpaceX,Dragon 2.0,NaN,ISS,NaN,NaN
135,SXM-7,False,SiriusXM,United States,SSL,Satellite,NaN,GTO,NaN,NaN

###### Upload Data

In [ ]:
#Upload the data into our amazon database, creating or replacing the desired table.
payload_df.to_sql('payloads', engine, if_exists='replace', index=False)

## Pull From Ships

In [15]:
#Pull from the payloads portion of the API
url = "https://api.spacexdata.com/v3/ships"

In [16]:
#Create the headers
headers = {
  'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'
  }

In [17]:
#Store the API response
response = requests.get(url, headers=headers)

In [18]:
#Confirm response recieved data
if response.status_code == 200:
    print('Successful')
else:
    print('Unsuccessful')

Successful

##### Json

In [19]:
#Create data and use json to transform the data
ship_data = json.loads(response.text)

##### Pandas Dataframe

In [20]:
#Convert the data into a dataframe
ship_df = pd.DataFrame(ship_data)

In [21]:
#Specify the desired columns
ship_df = ship_df[['ship_id','ship_name','ship_model','ship_type', 'active', 'attempted_landings', 'successful_landings', 'attempted_catches', 'successful_catches']]

In [22]:
#Check what the dataframe is returning
ship_df

,ship_id,ship_name,ship_model,ship_type,active,attempted_landings,successful_landings,attempted_catches,successful_catches
0,AMERICANCHAMPION,American Champion,None,Tug,False,NaN,NaN,NaN,NaN
1,AMERICANISLANDER,American Islander,None,Cargo,False,NaN,NaN,NaN,NaN
2,AMERICANSPIRIT,American Spirit,None,Cargo,False,NaN,NaN,NaN,NaN
3,ASOG,A Shortfall of Gravitas,None,Barge,False,0.0,0.0,NaN,NaN
4,BETTYRGAMBARELLA,Betty R Gambarella,None,Tug,False,NaN,NaN,NaN,NaN
5,ELSBETH3,Elsbeth III,None,Tug,False,NaN,NaN,NaN,NaN
6,GOMSCHIEF,GO Ms Chief,None,High Speed Craft,True,NaN,NaN,NaN,NaN
7,GOMSTREE,GO Ms Tree,None,High Speed Craft,True,NaN,NaN,12.0,3.0
8,GONAVIGATOR,GO Navigator,None,Cargo,True,NaN,NaN,NaN,NaN
9,GOPURSUIT,GO Pursuit,None,Cargo,False,NaN,NaN,NaN,NaN
10,GOQUEST,GO Quest,None,Cargo,True,NaN,NaN,NaN,NaN
11,GOSEARCHER,GO Searcher,None,Cargo,True,NaN,NaN,NaN,NaN
12,HAWK,HAWK,None,Tug,False,NaN,NaN,NaN,NaN
13,HOLLYWOOD,Hollywood,None,Tug,True,NaN,NaN,NaN,NaN
14,JRTI-1,Just Read The Instructions 1,Marmac 300,Barge,False,2.0,0.0,NaN,NaN
15,JRTI-2,Just Read The Instructions 2,Marmac 303,Barge,True,12.0,11.0,NaN,NaN
16,KELLYC,Kelly C,None,Tug,False,NaN,NaN,NaN,NaN
17,NRCQUEST,NRC Quest,None,Cargo,True,NaN,NaN,NaN,NaN
18,OCISLY,Of Course I Still Love You,Marmac 304,Barge,True,40.0,34.0,NaN,NaN
19,PACIFICFREEDOM,Pacific Freeedom,None,Tug,True,NaN,NaN,NaN,NaN
20,PACIFICWARRIOR,Pacific Warrior,None,Tug,False,NaN,NaN,NaN,NaN
21,RACHEL,RACHEL,None,Tug,False,NaN,NaN,NaN,NaN

##### Upload Data

In [ ]:
#Upload the data into our amazon database, creating or replacing the desired table.
ship_df.to_sql('ships', engine, if_exists='replace', index=False)

## Pull From Launches

In [23]:
#Pull from the payloads portion of the API
url = "https://api.spacexdata.com/v3/launches"

In [24]:
#Create the headers
headers = {
  'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'
  }

In [25]:
#Store the API response
response = requests.get(url, headers=headers)

In [26]:
#Confirm response recieved data
if response.status_code == 200:
    print('Successful')
else:
    print('Unsuccessful')

Successful

##### Json

In [27]:
#Create data and use json to transform the data
launch_data = json.loads(response.text)

##### Pandas Dataframe

In [28]:
#Convert the data into a dataframe
launch_df = pd.DataFrame(launch_data)

In [29]:
#Specify the desired columns
launch_df = launch_df[['flight_number','mission_name','launch_year','launch_date_local', 'launch_success', 'details', 'launch_date_source']]

In [30]:
#Check what the dataframe is returning
launch_df

,flight_number,mission_name,launch_year,launch_date_local,launch_success,details,launch_date_source
0,1,FalconSat,2006,2006-03-25T10:30:00+12:00,False,Engine failure at 33 seconds and loss of vehicle,NaN
1,2,DemoSat,2007,2007-03-21T13:10:00+12:00,False,Successful first stage burn and transition to ...,NaN
2,3,Trailblazer,2008,2008-08-03T15:34:00+12:00,False,Residual stage 1 thrust led to collision betwe...,NaN
3,4,RatSat,2008,2008-09-28T11:15:00+12:00,True,Ratsat was carried to orbit on the first succe...,NaN
4,5,RazakSat,2009,2009-07-13T15:35:00+12:00,True,None,NaN
...,...,...,...,...,...,...,...
106,107,Crew-1,2020,2020-11-15T19:27:00-05:00,True,SpaceX will launch the first operational missi...,wiki
107,108,Sentinel-6 Michael Freilich,2020,2020-11-21T09:17:00-08:00,True,SpaceX will launch Sentinel-6 Michael Freilich...,wiki
108,109,Starlink-15 (v1.0),2020,2020-10-24T11:31:00-04:00,True,None,NaN
109,110,CRS-21,2020,2020-12-06T11:17:00-05:00,None,SpaceX's 21st ISS resupply mission on behalf o...,wiki
110,110,SXM-7,2020,2020-12-13T12:30:00-05:00,None,None,wiki

##### Upload Data

In [ ]:
#Upload the data into our amazon database, creating or replacing the desired table.
launch_df.to_sql('payloads', engine, if_exists='replace', index=False)

## Pull From Capsules

In [31]:
#Pull from the payloads portion of the API
url = "https://api.spacexdata.com/v3/capsules"

In [32]:
#Create the headers
headers = {
  'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'
  }

In [33]:
#Store the API response
response = requests.get(url, headers=headers)

In [34]:
#Confirm response recieved data
if response.status_code == 200:
    print('Successful')
else:
    print('Unsuccessful')

Successful

##### Json

In [35]:
#Create data and use json to transform the data
capsules_data = json.loads(response.text)

##### Pandas Dataframe

In [36]:
#Convert the data into a dataframe
capsules_df = pd.DataFrame(capsules_data)

In [37]:
#Specify the desired columns
capsules_df = capsules_df[['capsule_id','capsule_serial','status','original_launch', 'missions', 'landings', 'type', 'details', 'reuse_count']]

In [39]:
#Check what the dataframe is returning
capsules_df

,capsule_id,capsule_serial,status,original_launch,missions,landings,type,details,reuse_count
0,dragon1,C101,retired,2010-12-08T15:43:00.000Z,"[{'name': 'COTS 1', 'flight': 7}]",1,Dragon 1.0,Reentered after three weeks in orbit,0
1,dragon1,C102,retired,2012-05-22T07:44:00.000Z,"[{'name': 'COTS 2', 'flight': 8}]",1,Dragon 1.0,First Dragon spacecraft,0
2,dragon1,C103,unknown,2012-10-08T00:35:00.000Z,"[{'name': 'CRS-1', 'flight': 9}]",1,Dragon 1.0,First of twenty missions flown under the CRS1 ...,0
3,dragon1,C104,unknown,2013-03-01T19:10:00.000Z,"[{'name': 'CRS-2', 'flight': 10}]",1,Dragon 1.0,None,0
4,dragon1,C105,unknown,2014-04-18T19:25:00.000Z,"[{'name': 'CRS-3', 'flight': 14}]",1,Dragon 1.1,First Dragon v1.1 capsule,0
5,dragon1,C106,active,2014-09-21T05:52:00.000Z,"[{'name': 'CRS-4', 'flight': 18}, {'name': 'CR...",3,Dragon 1.1,First Dragon capsule to be reused,2
6,dragon1,C107,unknown,2015-01-10T09:47:00.000Z,"[{'name': 'CRS-5', 'flight': 19}]",1,Dragon 1.1,None,0
7,dragon1,C108,active,2015-04-14T20:10:00.000Z,"[{'name': 'CRS-6', 'flight': 22}, {'name': 'CR...",3,Dragon 1.1,Second Dragon capsule to be reused,2
8,dragon1,C109,destroyed,2015-06-28T14:21:00.000Z,"[{'name': 'CRS-7', 'flight': 24}]",0,Dragon 1.1,Destroyed on impact after F9 launch failure,0
9,dragon1,C110,active,2016-04-08T20:43:00.000Z,"[{'name': 'CRS-8', 'flight': 28}, {'name': 'CR...",2,Dragon 1.1,None,1
10,dragon1,C111,active,2016-07-18T04:45:00.000Z,"[{'name': 'CRS-9', 'flight': 32}, {'name': 'CR...",2,Dragon 1.1,None,1
11,dragon1,C112,active,2017-02-19T14:39:00.000Z,"[{'name': 'CRS-10', 'flight': 36}, {'name': 'C...",3,Dragon 1.1,None,2
12,dragon1,C113,active,2017-08-14T16:31:00.000Z,"[{'name': 'CRS-12', 'flight': 45}, {'name': 'C...",2,Dragon 1.1,The last newly manufactured Dragon 1,1
13,dragon2,C201,active,2019-03-02T07:45:00.000Z,"[{'name': 'CCtCap Demo Mission 1', 'flight': 76}]",1,Dragon 2.0,Destroyed in a test anomaly at LZ-1 on April 2...,0
14,dragon2,C205,active,2020-01-19T14:00:00.000Z,"[{'name': 'Crew Dragon In Flight Abort Test', ...",1,Dragon 2.0,In construction for use in first mission in co...,0
15,dragon2,C206,active,2020-05-30T19:22:00.000Z,"[{'name': 'CCtCap Demo Mission 2', 'flight': 94}]",1,Dragon 2.0,"In Hawthorne, CA as of October 11, 2019. Seen ...",0
16,dragon2,C202,active,None,[],0,Dragon 2.0,Capsule used to qualify Dragon 2's environment...,0
17,dragon2,C203,active,None,[],0,Dragon 2.0,Rumored to be used for Inflight Abort Test aft...,0
18,dragon2,C204,active,None,[],0,Dragon 2.0,Currently in construction for use in DM-2,0

In [ ]:
#Format the list value into a string
capsules_df['missions'] = capsules_df['missions'].apply(lambda x: ', '.join(word for word in x))

##### Upload Data

In [ ]:
#Upload the data into our amazon database, creating or replacing the desired table.
capsules_df.to_sql('capsules', engine, if_exists='replace', index=False)